{{ 'component-toggle-button.css' | asset_url | stylesheet_tag }}
{{ 'component-button.css' | asset_url | stylesheet_tag }}

{% unless current_variant.available %}
  {% assign button_text = 'products.product.sold_out' | t %}
{% else %}
  {% assign button_text = 'products.product.add_to_cart' | t %}
{% endunless %}

{% form 'product', product, class: 'product-form' %}
  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
      <div style="margin-bottom: .5rem;">
        <strong data-mce-fragment="1">{{- option.name -}}</strong>
      </div>
      <fieldset class="variant-fieldset" data-option-input>
        {% for value in option.values %}
          {% assign safeValue = value | replace: '"', '&quot;' %}
          <div style="width: 100%; {% unless forloop.last %}margin-right: 1rem;{% endunless %}">
            <input
            class="variant-select-input"
            style="display: none"
          type="radio"
          name="{{ option.name | escape}}"
          id="btn{{ forloop.index }}"
          data-variant-id="{{ value.variant.id }}"
          value="{{ value | escape }}"
          {% if value.selected %}
            checked
          {% endif %}
          >
          <label 
          class="primary-text btn--full toggle-btn"  for="btn{{ forloop.index }}"
          >
            {{ safeValue }}
          </label>
            </div>
        {% endfor %}
      </fieldset>

    {% endfor %}
  {% endunless %}

  <select name="id" class="product-form__master-select supports-no-js" data-master-select>
    {% for variant in product.variants %}
      {% if variant.available %}

        {% comment %} 
        Note: if you use option_selection.js, your select tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
        {% endcomment %}
        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>

  

  {% if section.settings.show_quantity_selector %}
    <div class="product-form__item product-form__quantity-selector">
      <label
        class="product-form__quantity-label{% unless section.settings.show_variant_labels %} product-form__quantity-label--hidden{% endunless %}"
        for="Quantity-{{ section.id }}"
      >
        {{- 'products.product.quantity' | t -}}
      </label>
      <input
        class="product-form__quantity-input"
        type="number"
        id="Quantity-{{ section.id }}"
        name="quantity"
        value="1"
        min="1"
        pattern="[0-9]*"
      >
    </div>
  {% endif %}

  <button
    class="btn btn--hover btn--to-secondary btn--full product__add-to-cart-button{% if section.settings.enable_payment_button and current_variant.available and product.selling_plan_groups == empty %} shopify-payment-btn {% endif %}"
    data-cart-submit
    type="submit"
    name="add"
    {% unless current_variant.available %}
      disabled="true"
    {% endunless %}
    aria-label="{{ button_text }}"
  >
    <span class="primary-text" aria-hidden="false" data-cart-primary-submit-text>
      {{ button_text }}
    </span>
    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text>
      {{- 'products.product.view_cart' | t -}}
    </span>
  </button>

  <p class="product__notification text-small text-center" data-cart-notification></p>

  {% if section.settings.enable_payment_button and current_variant.available %}
    {{ form | payment_button }}
    <div style="margin-top: 1rem; position: relative;">
      {% render 'payment-icons' %}
    </div>
  {% endif %}

  {{ form | payment_terms }}
{% endform %}
